---
- hosts: clearwater_hosts
  remote_user: ubuntu
  name: Installing common features
  vars:
  - etcd_address: {{ip['homer-1']}},{{ip['vellum-1']}},{{ip['sprout-1']}},{{ip['dime-1']}}
  roles:
  - common

- name: Including package installation playbook
  import_playbook: package_installation.yml

- hosts: clearwater_hosts
  remote_user: ubuntu
  name: Set DNS configs
  vars:
  - dns_address: 192.168.200.171
  roles:
  - dns_config

- name: Set DNS server configs
  hosts: dns_host
  remote_user: ubuntu
  roles:
  - role: dns_server
    tags:
    - dns_server

- hosts: one_vellum
  remote_user: ubuntu
  name: modifing shared config
  roles:
  - shared_config


- hosts: ellis_host
  remote_user: ubuntu
  name: Creating users
  roles:
  - create_users
